$footer-height: var(--footer-height);
$header-height: var(--header-height);
$employee-height: calc(100vh - #{$header-height} - #{$footer-height});
$employee-image-height-mobile: calc(#{$employee-height} - 300px);
$employee-image-height-desktop: calc(#{$employee-height} - 150px);

.carousel {
	max-width: 100vw;
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	@include breakpoints("desktop") {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.arrow-button {
	display: none;
	position: absolute;
	top: 50vh;
	border: none;
	background-color: transparent;
	img {
		width: 50px;
	}
	@include breakpoints("desktop") {
		display: block;
	}
}

#left--button {
	left: 200px;
	transform: rotate(180deg);
}

#right--button {
	right: 200px;
}

.employee {
	scroll-snap-align: start;
	height: $employee-height;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100vw;
	.employee--image {
		max-height: $employee-image-height-mobile;
		min-height: $employee-image-height-mobile;
		@include breakpoints("desktop") {
			max-height: $employee-image-height-desktop;
			min-height: $employee-image-height-desktop;
		}
	}
	.employee-text {
		width: 70vw;
		padding: 0 2em;
		text-align: center;
	}

	.email-text {
		width: 70vw;
		padding: 0 2em;
		text-align: center;
	}
}
