:root {
	--clr-dark: 217, 0%, 0%;
	--clr-light: 49, 9%, 61%;
	--clr-white: 0 0% 100%;
}

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-accent {
	background-color: hsl(var(--clr-light));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-dark));
}
.text-accent {
	color: hsl(var(--clr-light));
}
.text-white {
	color: hsl(var(--clr-white));
}
