/* LAYOUT */

.grid-container {
	padding: 2rem 0 0 0;
}

/* Home Styling */

.grid-container--home {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
}

.home-styling {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
}

.para {
	padding-top: 2rem;
}

.call-to-action-image {
	padding-top: 2rem;
	width: 70vw;
}

/* Product Styling */

.grid-container--product {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-image {
	width: 70vw;
}

/* About Styling */

.grid-container--about {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Reviews Styling */

.grid-container--reviews {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	padding-bottom: 2rem;
}

.review {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
}

.reviews-span {
	margin-left: 0.5rem;
}

.title {
	margin-bottom: 4rem;
}

/* Contact Styling */

.grid-container--contact {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	padding-bottom: 2rem;
}

.contact-page {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
}

.building-image {
	width: 70vw;
}

@media (min-width: 35em) and (max-width: 59.999em) {
}

@media (min-width: 60em) {
	.grid-container {
		text-align: left;
		flex-wrap: nowrap;
		justify-content: space-around;
		padding-top: 3rem;
	}

	// STYLING HOME PAGE

	.grid-container--home {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.home-styling {
		min-width: 40vw;
		max-width: 40vh;
		margin: 0;
	}

	.para {
		margin-top: 2rem;
	}

	.call-to-action-image {
		width: 35vw;
		padding: 2rem;
	}

	// STYLING CONTACT PAGE

	.grid-container--contact {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.contact-page {
		max-width: 40vw;
		min-width: 40vw;
		margin: 0;
	}

	.building-image {
		margin-left: 8rem;
		width: 15vw;
	}

	// STYLING ABOUT PAGE

	.employee-image {
		width: 30vw;
	}
	// STYLING PRODUCT PAGE
	.product-image {
		width: 40vw;
	}

	// STYLING REVIEWS PAGE

	.grid-container--reviews {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.review {
		min-width: 40vw;
		max-width: 40vh;
		margin: 0;
	}

	.reviews-span {
		margin-left: 0.5rem;
	}

	.grid-container--reviews {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
