/* LAYOUT */

.grid-container {
	padding-top: 1rem;
	@include breakpoints("desktop") {
		text-align: left;
		flex-wrap: nowrap;
		justify-content: space-around;
		box-sizing: border-box;
		padding-left: 4rem;
		padding-right: 4rem;
		padding-top: 3rem;
	}
}

/* HOME PAGE STYLING */

.grid-container--home {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	padding-bottom: 2rem;
	@include breakpoints("desktop") {
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.about-text {
	padding-bottom: 1rem;
}

.home-styling {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
	@include breakpoints("desktop") {
		min-width: 45vw;
		max-width: 45vh;
		margin: 0;
	}
}

.para {
	padding-top: 2rem;
	@include breakpoints("desktop") {
	}
}

.align-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.call-to-action-image {
	margin-top: 0;
	width: 70vw;
	@include breakpoints("desktop") {
		width: 35vw;
	}
}

/* PRODUCT PAGE STYLING */

.grid-container--product {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-image {
	width: 70vw;
	@include breakpoints("desktop") {
		width: 45vw;
	}
}

/* ABOUT PAGE STYLING */

.grid-container--about {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.email-text {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include breakpoints("desktop") {
		margin-top: 0;
	}
}

/* REVIEWS PAGE STYLING */

.grid-container--reviews {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	padding-bottom: 2rem;
	@include breakpoints("desktop") {
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.review {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
	@include breakpoints("desktop") {
		min-width: 45vw;
		max-width: 45vh;
		margin: 0;
	}
}

.reviews-span {
	margin-left: 0.5rem;
}

.title {
	margin-bottom: 4rem;
}

/* CONTACT PAGE STYLING */

.grid-container--contact {
	min-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	padding-bottom: 2rem;
	@include breakpoints("desktop") {
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex;
		justify-content: space-between;
	}
}

.contact-page {
	min-width: 70vw;
	max-width: 70vh;
	margin: 2rem;
	@include breakpoints("desktop") {
		max-width: 45vw;
		min-width: 45vw;
		margin: 0;
	}
}

.building-image {
	width: 70vw;
	@include breakpoints("desktop") {
		margin-left: 8rem;
		width: 15vw;
	}
}
