/* LAYOUT */

.grid-container {
	padding: 2rem 0 0 0;
}

/* Home Styling */

.grid-container--home {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	place-items: center;
	padding: 0 2rem 0 2rem;
}

.call-to-action-image {
	padding-top: 2rem;
	width: 80vw;
}

/* Product Styling */

.grid-container--product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	place-items: center;
	padding: 0 2rem 0 2rem;
}

.product-image {
	width: 70vw;
}

/* About Styling */

.grid-container--about {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Reviews Styling */

.grid-container--reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	place-items: center;
	padding: 0 2rem 0 2rem;
}

/* Contact Styling */

.grid-container--contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	place-items: center;
	padding: 0 2rem 0 2rem;
}

.building-image {
	width: 70vw;
}

@media (min-width: 35em) and (max-width: 59.999em) {
}

@media (min-width: 60em) {
	.grid-container {
		text-align: left;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.call-to-action-image {
		width: 40vw;
		padding: 2rem;
	}

	.building-image {
		width: 40vw;
	}

	.employee-image {
		width: 30vw;
	}

	.product-image {
		width: 40vw;
	}
}
