.purchase-button-container {
	margin-top: -10px;
	width: fit-content;
	margin: 0 auto;
}

.purchase-button {
	color: #fff;
	outline: none;
	background: transparent;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.purchase-button-image {
	max-width: 8rem;
}
